.pins{display:block;width:100%;max-width:190px;margin:0 auto}.vertical{height:70vh}.errors{text-align:center;color:#ff4500}.errors{text-align:center;color:#ff4500}.errors-pins{text-align:center;color:#ff4500}.hidden{display:none}
