.pins {
  display: block;
  width: 100%;
  max-width: 190px;
  margin: 0 auto;
}
.vertical {
  height: 70vh;
}
.errors {
  text-align: center;
  color: orangered;
}
.errors {
  text-align: center;
  color: orangered;
  &-pins {
    text-align: center;
    color: orangered;
  }
}
.hidden {
  display: none;
}


