@import"https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap";.text-orange{color:#ff5706}*{font-family:"Montserrat",sans-serif}.logo{max-width:400px;position:relative;width:80%}.msd{position:relative;display:block;width:30px;height:30px;clear:both}
